
:root {
	--yellow: #F8C630;
	--pink: #E54F6D;
	--darkPurple: #451F55;
  --deepPurple: #451F55;
  --royalPurple: #724E91;
  --honeydew:#EFF8E2;
}


.contain {
    background-image: url("../../img/shelf.jpg");
	display: flex;
    flex-direction: column;
	height: 120vh;
	justify-content: center;
	align-items: center;
    gap:1rem; 
}

.contain>h1{
    font-family: "Water brush";
    font-size: 3rem;
    color: var(--yellow);
    
}

.form_container {
	
	border: solid 0.2rem var(--deepPurple);
	border-radius: 5%;
    text-align: center;
	width: 30rem;
	height: 27rem;
    color: var(--honeydew);
	background-color: var(--royalPurple);
	gap: 0.7rem;
}

.form_step{
    display: flex;
	flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 2.5rem;

}

.form_hide{
    display: none
}

.input {
	width: calc(100% - 6rem);
	background-color: var(--yellow);
}

input:focus {
	outline: none !important;
	border-color: var(--pink);
	box-shadow: 0 0 10px var(--pink);
}

.label {
	color: var(--honeydew);
}

.btn_submit {
	margin-top: 2%;
	color: var(--honeydew);
	background-color: var(--darkPurple);
	width: calc(100% - 20rem);
}

.a_register{
    color: var(--pink);
    text-decoration: none;
}

.btn{
    color: var(--honeydew);
    background-color: var(--pink);
    border: 0.1rem solid var(--darkPurple);
    margin-right: 0.3rem;
    width: 4rem;
}

.disabled{
    display: none;
}