:root {
	--yellow: #F8C630;
	--pink: #E54F6D;
	--darkPurple: #451F55;
  --deepPurple: #451F55;
  --royalPurple: #724E91;
  --honeydew:#EFF8E2;
}


.map{
  height: 400px;
  width: 400px;
  border: solid 1px red;

}

.user_table{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--pink);
}

.back{
border: 2px solid var(--);
border-radius: 5px;
margin-left: 3px;
margin-top: 3px;    
background-color: var(--background-hover);
color: var(--font);
}

button:hover{background-color: var(--darkPurple)}

table {
  padding-top:3%;
	width: 80%;
  color: var(--royalPurple);
}

thead{
  background-color: var(--darkPurple);
  color: var(--honeydew);
  
}

tbody{
  background-color: var(--royalPurple);
  color: var(--honeydew);
}

th,
td {
	padding: 8px;
	text-align: center;
	border-bottom: 2px solid var(--deepPurple);
}

tbody>tr:hover {background-color: var(--pink);}

a{
    text-decoration: none;
    color: var(--font);
}